{% extends "users/base.html" %}


{% block content %}
<table class="table table-borderless">
    <thead class="border-bottom font-weight-bold">
        <tr>
            <td>Full Name</td>
            <td>Mobile</td>
            <td>Position</td>
            
        </tr>
    </thead>
    <tbody>
        {% for user in user_list %}
            <tr>
                <td>{{user.fullname}}</td>
                <td>{{user.mobile}}</td>
                <td>{{user.position}}</td>
               
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}